div .new {
    display: inline-block;
    
  }

.navigation-bar 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
<<<<<<< HEAD
  background-image: linear-gradient(to right ,SlateBlue, #26927F,dodgerblue);
padding-left: 20%;
font-size: 25px;
font-family: calibri corps ;
=======
padding-left: 30%;
background-image: linear-gradient(to right, #26927F , SlateBlue,#26927F);
font-family: Times new romans ;
font-size: 20px;

>>>>>>> test
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: left;
}
 
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: dodgerblue;
  border-radius: 50px;
}

img { margin-left: 10%;
margin-top: 20px; }
.user { 
font-size: 200px;
color: SlateBlue; 
}

<!-- Contenu body begins-->

h2 { 
color: grey; }
p { 
	font-family: Apple Chancery, cursive;
	 }
.font {
 width:25%;
}
.text { color: white;
	font-family: Snell Roundhand, cursive;
 }
 h1	{ 
 	text-align: center;
 	 }
<<<<<<< HEAD
 
=======
 .btn {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

.btn-wrapper{
    position: fixed;
    top: calc(50% - 22px);
    left: 0;
    width: 100%;
    text-align: center;
}

.btn{
    display: inline-block;
    box-shadow: none;
    appearance: none;
    border: 0;
    outline: 0;
    background-color: rgb(0, 240, 168);
    height: 45px;
    line-height: 42px;
    padding: 0 30px;
    font-size: 20px;
    border-radius: 30px;
    color: rgb(40, 45, 50);
    cursor: pointer;
    transition: all .5s;
    transition-timing-function: cubic-bezier(.2, 3, .4, 1);
    user-select: none;
 }
>>>>>>> test
 .btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}
.contenair { 
text-align: center;
font-size: 50px;
font-style: italic;
color: white; }

div .footer { 
  padding-top: 50px;
  padding-bottom: 50px;
background-size: 200px;
background-color: #26927F;
}
.list-inline a {
  font-size: 45px;
  color:grey;

}
.list-inline a:hover {
  font-size: 80px;
  color: white;

}
.class { 
margin-top: 50px;
margin-bottom: 50px;
box-sizing: inherit;
 }
.fa-vcard , .fa-check-square-o , .fa-download { 
  font-size: 50px;
  color : #00C4CC;
   }
   .btn-success, .btn-primary ,.btn-info { 
   font-size: 150%;
   border-radius: 25%;
   margin-top: 15%; }

   .btn-primary { 
    margin-top: 15%;
    }
 div .class p { 
 color: #0F0F0F;
 font-family: Times New Roman;
 font-size: 17px; }
<<<<<<< HEAD
 h2 { 
 text-align: center;
 font-family: Calibri;  }
 .panel { 
  
  background-image: linear-gradient(to right ,SlateBlue, #26927F,dodgerblue) }
h1 { 
  font-family: Calibri Corps;
  text-align: center;
 }
 .panel-body { 
  font-family: calibri;
 color: white;
  }
=======
 img 
 { 
margin-left: 15%;
margin-top: 25px;
  }
.panel { 
  background-image: linear-gradient(to right, #26927F , SlateBlue,#26927F);

 }
 .panel { font-family: Calibri Corps; }
 h2,h4 { text-align:center; }
>>>>>>> test
